body {
    min-width: 320px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #626262;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #898377;
}

.container-fluid   {
    padding-right: 0;
    padding-left: 0;
}


header .navbar-light {
    
} 

header .navbar-brand {
    font-size: 25px;
    color:#626262 !important;
}